.App{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 40px;
  background-color: white;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.home .about, .consulting, .contact, .design, .development, .marketing, .plans, .services, .signUp {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.title {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 50px;
  font-size: 50px;
  
}
.titleTwo {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
.price-switch {
  border-radius: 10em;
  display: block;
  width: 50px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
.price-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}
.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 10px;
  background-color: grey;
}

.switch-slider:is(:hover, :focus-visible) {
  opacity: 0.2;
}

.switch-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 20px;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: green;
  transform: translateX(calc(100% + 2px));
  transition: 0.3s ease;
}
.price-checkbox:checked + .switch-slider::before {
  transform: translateX(0%);
}
.price-row {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
